<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>Express NodeJS CRUD-Application developed by<a href="https://twitter.com/DharaiyaKrunal">@DharaiyaKrunal</a>.</p>
    </div>
</footer>