
<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">CRUD-Application</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link <% if(title =='Home') { %>active<% } %>" href="/">Home</a>
            <a class="nav-link <% if(title =='Operation') { %>active<% } %>" href="/operation">Operations</a>
            <a class="nav-link <% if(title =='Contact') { %>active<% } %>" href="/contact">Contact</a>
        </nav>
    </div>
</header>